<%= provide(:title, "Brands") %>
<h1>Brands we stock</h1>
<table>
    <tr>
        <td><a href = "/items/brand/Gibson">Gibson</a></td>
    </tr>
        <tr>
        <td><a href = "/items/brand/Fender">Fender</a></td>
    </tr>
    <tr>
        <td><a href = "/items/brand/Martin">Martin</a></td>
    </tr>
        <tr>
        <td><a href = "/items/brand/Taylor">Taylor</a></td>
    </tr>
        <tr>
        <td><a href = "/items/brand/Multiple">Other</a></td>
    </tr>

</table>