<%= provide(:title, "Brands") %>
<h1>Categories</h1>
<table>
    <tr>
        <td><a href = "/items/categories/Acoustic">Acoustic</a></td>
    </tr>
        <tr>
        <td><a href = "/items/categories/Electric">Electric</a></td>
    </tr>
    <tr>
        <td><a href = "/items/categories/Accessories">Other</a></td>
    </tr>


</table>