<%= provide(:title, "Home") %>

<div class = "mainCont">
    <%= image_tag("guitarHeader.jpg", alt: "Welcome Logo", :class => "welcomeIm")%>
<h1>Welcome to Rodney's</h1>
<p>The home of high-end guitars</p>
</div>