<%= provide(:title, "Home") %>

<div class = "mainCont">
    <%= image_tag("guitarHeader.jpg", alt: "Welcome Logo", :class => "welcomeIm")%>
<h1>Home Page</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
</div>